.taskList {
  color: #fff;
  font-weight: 300;
  background-color: #272a46;
  border-radius: 10px;
}

.taskSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  font-size: 12px;
}

.taskSelect p {
  color: #494c6b;
  font-weight: 400;
}

.taskSelectButtonGroup button {
  background-color: transparent;
  border: none;
  color: #494c6b;
  font-weight: 500;
  padding: 0 5px;
  transition: all 0.3s ease;
}

.taskSelectButtonGroup button:hover {
  color: #2e9acc;
  cursor: pointer;
}

@media (min-width: 550px) {
  .taskSelectButtonGroupSeparated {
    display: none;
  }
}

@media (max-width: 550px) {
  .taskSelectButtonGroup {
    display: none;
  }
  .taskSelectButtonGroupSeparated {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272a46;
    padding: 25px;
    margin-top: 2rem;
    border-radius: 10px;
  }

  .taskSelectButtonGroupSeparated button {
    background-color: transparent;
    border: none;
    color: #494c6b;
    font-weight: 500;
    padding: 0 10px;
    transition: all 0.3s ease;
  }

  .taskSelectButtonGroupSeparated button:hover {
    color: #2e9acc;
    cursor: pointer;
  }
}

.buttonClearCompletedTask {
  background-color: transparent;
  border: none;
  color: #494c6b;
  font-weight: 400;
  transition: all 0.3s ease;
}

.buttonClearCompletedTask:hover {
  color: #2e9acc;
  cursor: pointer;
}
