@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1d1935;
  --bg-image: url("../images/bg-desktop-dark.jpg");
  --bg-image-min: url("../images/bg-mobile-dark.jpg");
  --background-color-toast: #272a46;
  --color-text-toast: #fff;
}

body.light-theme {
  --bg-color: #ebebeb;
  --bg-image: url("../images/bg-desktop-light.jpg");
  --bg-image-min: url("../images/bg-mobile-light.jpg");
  --background-color-toast: #fff;
  --color-text-toast: #333;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

@media (max-width: 550px) {
  body {
    background-image: var(--bg-image-min);
  }
}

#root {
  width: 700px;
}

.Toastify__toast.custom-toast {
  background-color: var(--background-color-toast);
  color: var(--color-text-toast);
}
